{#
Created by Emmanuel Delépine
* Date: 14/09/2016
app/Resources/views/user/user.html.twig
#}
{% extends 'template.html.twig' %}

{% block body %}
    {% block container %}
        {% block main %}
            {% block section %}

    <h1 class="h1">Liste des Series</h1>

    <table>
        <thead>
            <tr>
                {#<th>Id</th>#}
                <th>Nom</th>
                <th>Poster</th>
                <th>Resumé</th>
                {#<th>Starrate</th>#}
                <th> &nbsp;Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for serie in series %}
            <tr>
                {#<td>{{ serie.id }}</td>#}
                <td class="nomserie"><a href="{{ path('serie_show', { 'id': serie.id }) }}">{{ serie.name }}</a> &nbsp;</td>
                <td> &nbsp;<img class="icone" src="{{ asset('uploads/poster/' ~ serie.poster) }}"/> &nbsp;</td>
                <td> &nbsp;{{ serie.resume }} &nbsp;</td>
                {#<td>{{ serie.starRate }}</td>#}
                <td class="btn-group">

                        <a class="btn btn-default" href="{{ path('serie_show', { 'id': serie.id }) }}">show</a>

                        <a class="btn btn-default" href="{{ path('serie_edit', { 'id': serie.id }) }}">edit</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p><br/>
            <a class="btn btn-default" href="{{ path('serie_new') }}">Ajouter une série</a>
    </p>
            {% endblock %}
        {% endblock %}
    {% endblock %}
{% endblock %}
