<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Fan de séries{% endblock %}</title>
    <meta name="description" content="Fan de séries"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Emmanuel Delépine">
    <link rel="canonical" href="localhost/NewFilRouge/FanDeSerie<?=.$_SERVER['PHP_SELF']; ?>"/>
    {% block stylesheets  %}
        <META HTTP-EQUIV="Content-Style-Type" CONTENT="text/css">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />

    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="body">

    <header>


        <img src="{{ asset('img/series-tv.jpg') }}" />

        {{ include('includes/nav.html.twig') }}
    </header>
<div  class="container-fluid" >
    {#{% block container %}#}
    <main class="row">
        {#{% block main %}#}
        <section  class="col-xs-12 col-sm-9 col-md-9 col-lg-6 col-lg-offset-1">
            {% block section %}

            {% endblock %}
        </section>


        <aside class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-lg-offset-0">
            {% block aside %}
            {% endblock %}
        </aside>
        {#{% endblock %}#}
    </main>
        {#{% endblock %}#}
</div>
    <footer>
        {% block footer %}
        {% endblock %}
    </footer>

{% block javascripts %}
    {#<script src="{{ asset('js/jquery.min.js') }}"></script>#}
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>